/* Common */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}


/* Header  */
.site_header{
  height: 100px;
  background-color:#E579E6 ;
}

/* Main  */
.primary{
  height: 450px;
  background-color: #E1D67A ;
  margin: 20px 0;
}

.secondary{
  background-color: #0086FF;
}
.secondary_header{
  height: 50px;
  background-color: #ABCFE7;
}

.sidebar, .content{
  float: left;
  height: 650px;
  background-color: #ABCFE7 ;
  margin: 20px 0;
}

.sidebar{
  width: 16%;
}

.content{
  width: 66%;
  margin: 20px 1%;
}

/* Footer  */
.site_footer{
  height: 60px;
  background-color: #8801FE ;
  margin-top: 10px;
}